body {
    height: 1080px;
    width: 100%;
    background-color: #000000;

    padding: 50px;

    color: #999999;
    font-family: "PF Agora Sans Pro Light", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 300;
    text-transform: uppercase;
}

span.h1 {
    display: block;
    color: #ffffff;
    font-family: "Bebas Neue Regular", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
}

span.h2 {
    display: block;
    color: #999999;
    font-family: "PF Agora Sans Pro Light", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 300;
    text-transform: none;
}

.header-name {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 5px 0;
}

.head-info-block{
    width: auto;
    margin-top: 20px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.row {
    margin: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

li {
    list-style: none;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }