<div class="col-md-4" style="margin-left: 0;" >
    <div id="man-chart" style="width: 405px; height: 100%"></div>
    <h3 style="padding: 0; margin: 0 0 5px 0; color: white;">сердце</h3>
    <div>
        <div class="col-md-4 head-info-block block-text">
            <div>Пульс</div>
            <span class="h1">{{ person.pulse }}</span>
        </div>
        <div class="col-md-4 head-info-block block-text" style="margin: 0 10px;">
            <div>Операции</div>
            <span class="h1">{% if person.had_surgery %}Да{% else %}Нет{% endif %}</span>
        </div>
        <div class="col-md-4 head-info-block block-text">
            <div>Давление</div>
            <span class="h1">{{ person.pressure_h }}/{{ person.pressure_l }}</span>
        </div>
    </div>
</div>