{% extends 'app/patient/history.html' %}
{% load staticfiles %}

{% block info %}
<div class="col-md-5">

    <div class="col-md-1 col-md-offset-4">
        <a href="/history/patient/{{ person.id }}/prediction">
            <img src="{% static 'app/img/predictions.png' %}" style="width: 20px; height: 20px"/>
        </a>
    </div>
{#    {% for disease in diseases %}#}
    <h3 class="text-uppercase">{{ disease.disease }}</h3>
    <div style="border-bottom: 1px solid #c8c8c8;"></div>
    <p class="text-uppercase">начало лечения {{ disease.start_date | date:"d E Y" }} года</p>

    <div>
        <div class="text-uppercase block-title">заключение врача
            <div style="text-align: right; display: inline-block; float: right;">{{ disease.end_date | date:"d E Y" }}</div>
        </div>
    </div>
    <div class="block-text">
        {{ disease.medical_report }}
    </div>
    <div class="text-uppercase block-title">рецепт врача</div>
    <div class="block-text">
        <div>Пенталгин: <span style="color: white">1 таб. каждые 6 часов</span></div>
        <div>Ибупрофен: <span style="color: white">1/2 таб. каждые 4 часа</span></div>
        <div>Аспирин: <span style="color: white">1 таб. каждый день</span></div>
    </div>
    <div class="text-uppercase block-title">анализы</div>
    <div>
        <div style="width: 50px; display: inline-block;">
            <img src="{% static 'app/img/analiz33-01.svg' %}"/>
            <div style="text-align: center">Моча</div>
        </div>
        <div style="width: 50px; display: inline-block;">
            <img src="{% static 'app/img/analiz334-01.svg' %}"/>
            <div style="text-align: center">Кровь</div>
        </div>
    </div>
{#    {% endfor %}#}
</div>
{% endblock %}