{% extends "app/layout.html" %}

{% block content %}
    <script>
  $(function() {
    var availableTags = [{% for person in people %}"{{ person.last_name }} {{ person.name }}", {% endfor %}];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
  </script>

{#    <div class="ui-widget">#}
{#        <label for="tags">Search patient: </label>#}
{#        <input id="tags">#}
{#    </div>#}
    <div class="row">
        <ul>
        {% for person in people %}
          <li><a href="history/patient/{{ person.id }}">{{ person.id }}: {{ person.last_name }} {{ person.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
