{% load staticfiles %}
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
<script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
<script src="{% static 'app/scripts/site.js' %}"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/maps/modules/map.js"></script>
{#<script src="https://code.highcharts.com/maps/highmaps.js"></script>#}
<script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
<script src="{% static 'app/scripts/man-chart.js' %}"></script>
<script src="{% static 'app/scripts/npm.js' %}"></script>

