{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
<style>
    .block-title {
        padding: 20px 0 5px 0;
    }

    .block-text {
        border: 1px solid #c8c8c8;
        padding: 10px;
        margin: 0;
    }

    .switch-btn,
    #smoke-btn {
        float: left;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        cursor: pointer;
        color: white;
        font-size: 16px;
    }

    .switch-btn {
        margin-left: 10px;
    }

</style>